#iconMenu{
    display: none;
}

@media(max-width:600px){
    #drawer{
        display:none;
    }
    #iconMenu{
        display: block !important;
    }
    .makeStyles-search-10{
        display: block;
        width:60% !important;
        margin-left:15px !important;
    }
}

.abrirMenu{
    transition: all 300ms;
    display: block !important;
}

