.box-shadow-container{
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 15%);
}

#bigHeight{
    height: 46rem;
}


#bigHeight2{
    height: 46rem;
}

@media(max-width:1400px){
    #bigHeight2{
        height: 40rem;
    }
    #bigHeight{
        height: 40rem;
    }
}

@media(max-width: 516px){
    .makeStyles-root-17{
        flex-direction: column !important;
        gap:30px;
    }
    .makeStyles-center-20{
        justify-content: flex-start;
        width: 100%;
    }
}